<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Home Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        $(document).ready(function(){
	        $("#submit-button").click(function(){
		        $.ajax({
			        url:"index/",
			        type:'POST',
			        beforeSend : function(){
                        document.getElementById("loader").style.display = "block";
			        },
			        success : function(response){
			            var labels = [];
			            var data = [];
			            var obj = JSON.parse(response);
			            for (x of obj.data){
			                records = x.toString().split(",");
			                labels.push(records[0]);
			                data.push(records[1]);
			            }
			            var data = [{
                            values: data,
                            labels: labels,
                            type: 'pie',
                            hole: .5
                        }];

                        var layout = {
                            height: 400,
                            width: 500
                        };

                        Plotly.newPlot('results', data, layout);
			        },
			        complete : function(){
			            document.getElementById("loader").style.display = "none";
			        }
		        });
		        return false;
	        });
        });
    </script>
</head>
<body>
<h1>This is home page</h1>
<form>
    {% csrf_token %}
    <input type="submit" value="Submit" id="submit-button">
</form>
<div style="display: none" id="loader">
    <img src="{% static 'polls/loader.gif' %}">
</div>
<div id="results">

</div>
</body>
</html>